@font-face {
    font-family: 'Mikecraft'; /*a name to be used later*/
    src: url(mikecraft.ttf);
}

/*
@media (min-width: 1900px) {
    body {
        background-color: skyblue;
    }
}

@media (max-width: 1800px) {
    body {
        background-color: green;
    }
}
*/

.dirtDiv {
    height: 100px; 
    background-image: url('Dirt.png'); 
    background-size: 100px;
    margin-left: -10px;
    margin-right: -10px;
}

.grassDiv {
    height: 100px; 
    background-image: url('Grass.png'); 
    background-size: 100px;
    margin-left: -10px;
    margin-right: -10px;
}

/* This Section is for all navigation bar content */
.navDiv {
    background-color: #0d171f;
    margin: auto; 
    width: 40%; 
    max-width: 750px; 
    min-width: 400px;
}

.navButtonsDiv {
    display: flex;
    /*margin: auto;*/
}

.navButtonsDiv a {
    text-align: center;
    font-size: 2em;
    font-family: 'Mikecraft', Arial, Helvetica, sans-serif;
    color: rgb(165, 158, 175);
    background-color: #0d171f;
    padding: 15px;
    font-weight: bold;
    text-decoration: none;
    margin: auto;
    transition: 0.2s;
}

.navButtonsDiv a:hover {
    background-color: #152431;
    color: white;
    padding-right: 25px;
    padding-left: 25px;
}

/* This Section is for visual structure of pages */
.solidSidebar {
    background-color: #0d171f;  
    width: 5%;
    flex-grow: 2;
}

.stoneCorner {
    background-size: contain; 
    width: 96px; 
    background-repeat: no-repeat;
}

.pageButton {
    display: flex;
    margin: auto;
    width: 28%;
}

.pageButton a{
    font-family: 'Mikecraft';
    font-size: 40px;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
    margin: auto;
    color: white;
    background-color: rgb(54, 180, 75);
    border: solid; 
    border-width: 6px;
    border-color: black;
    text-shadow: black 0px 5px;
    margin-bottom: 45px;
}

.pageButton a:hover {
    background-color: rgb(41, 146, 59);
    transition: 0.2s;
}
