@font-face {
    font-family: 'Mikecraft'; /*a name to be used later*/
    src: url(mikecraft.ttf);
}

/*
@media (min-width: 1900px) {
    body {
        background-color: skyblue;
    }
}

@media (max-width: 1800px) {
    body {
        background-color: green;
    }
}
*/

body {
    background-color: #0d171f;
}

header {
    margin: -10px; 
    margin-bottom: -25px; 
    background-color: deepskyblue;
}

header div {
    display: flex; 
    margin-bottom:  0px;
}

/* These three classes are used to format the flowers on either side of the logo and title */
.flowerLeft {
    margin: auto; 
    margin-right: 0;
}

.flowerMiddle {
    margin: auto; 
    margin-right: 0; 
    margin-left: 0;
}

.flowerRight {
    margin: auto; 
    margin-left: 0;
}

/* These classes are used to format the logo on either side of the title */
.logoLeft {
    margin: auto; 
    margin-right: 0px; 
    margin-left: 20px;
}

.logoRight {
    margin: auto; 
    margin-right: 20px; 
    margin-left: 0px;
}

/* The title class is used to style the title text for the header "The 'Minelanders" */
.title {
    font-family: 'Mikecraft'; 
    font-size: 40px; 
    margin: auto; 
    margin-left: 10px; 
    margin-right: 10px; 
    color: white; 
    text-shadow:black 10px 10px;
}

/* dirtDiv and grassDiv are two visual divs that help create the minecraft block illusion */
.dirtDiv {
    height: 100px; 
    background-image: url('Dirt.png'); 
    background-size: 100px;
    margin-left: -10px;
    margin-right: -10px;
}

.grassDiv {
    height: 100px; 
    background-image: url('Grass.png'); 
    background-size: 100px;
    margin-left: -10px;
    margin-right: -10px;
}

/* This Section is for all navigation bar content */
/* Wrapper div for the buttons to make sure they appear side by side */
.navButtonsDiv {
    display: flex;
}

/* Div that ensures the buttons are close enough and resize correctly*/
.navDiv {
    background-color: #0d171f;
    margin: auto; 
    width: 40%; 
    max-width: 750px; 
    min-width: 400px;
}

/* class for individual navigational button */
.navButtonsDiv a {
    text-align: center;
    font-size: 2em;
    font-family: 'Mikecraft', Arial, Helvetica, sans-serif;
    color: rgb(165, 158, 175);
    background-color: #0d171f;
    padding: 15px;
    font-weight: bold;
    text-decoration: none;
    margin: auto;
    transition: 0.2s;
}

/* class for individual navigational button hover */
.navButtonsDiv a:hover {
    background-color: #152431;
    color: white;
    padding-right: 25px;
    padding-left: 25px;
}

/* This Section is for visual structure of pages */
/* Largest wrapper div which contains everything below the navigational bar*/
.primaryContent {
    display: flex; 
    margin-left: -10px; 
    margin-right: -10px;
}

/* Solid black bar on either side of the main content which grows as the webpage shrinks and grows*/
.solidSidebar {
    background-color: #0d171f;  
    width: 5%;
    flex-grow: 2;
}

.stoneCorner {
    background-size: contain; 
    width: 96px; 
    background-repeat: no-repeat;
}

.pageButton {
    display: flex;
    margin: auto;
    width: 28%;
}

.pageButton a{
    font-family: 'Mikecraft';
    font-size: 40px;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
    margin: auto;
    color: white;
    background-color: rgb(54, 180, 75);
    border: solid; 
    border-width: 6px;
    border-color: black;
    text-shadow: black 0px 5px;
    margin-bottom: 45px;
}

.pageButton a:hover {
    background-color: rgb(41, 146, 59);
    transition: 0.2s;
}
